<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/scripts.js" defer></script>
</head>
<body>
    <h1>{{ .title }}</h1>
    <p> Sample for a webpage using GIN, and Go templates.</p>
    <button id="myButton">Click Me!</button>
    <a href="/about">About Page</a> | <a href="/contact">Contact Page</a>

</body>
</html>